{
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "tabWidth": 2,
  "parser": "typescript",
  "bracketSameLine": true,
  "endOfLine": "lf",
  "trailingComma": "es5",
  "printWidth": 120
}